        @font-face {
            font-family: 'MinSans-Medium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            font-family: 'MinSans-Medium';
            letter-spacing: 1.3px;
        }
        
        p {
            font-weight: 450;
            font-size: 16px;
        }
        
        span {
            color: coral;
            cursor: pointer;
        }
        
         ::selection {
            background: coral;
            color: white;
        }
        
        header {
            width: 100%;
            height: 75px;
            margin: 0 auto;
            position: fixed;
            background-color: coral;
            border-bottom: white 1px solid;
            display: flex;
            flex-direction: row;
            z-index: 9999;
            align-items: center;
        }
        
        header ul {
            width: 60%;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: flex-end;
        }
        
        header li {
            padding-left: 10%;
        }
        
        header p {
            font-size: 1.2em;
            font-weight: bold;
            color: black;
            cursor: pointer;
        }
        
        main {
            background-color: coral;
            width: 100%;
            height: 80vh;
            display: flex;
            flex-direction: column;
        }
        
        main h1 {
            position: absolute;
            top: 50%;
            left: 5%;
        }
        
        main h3 {
            position: absolute;
            top: 65%;
            left: 5%;
        }
        
        .con {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            z-index: 2;
            justify-content: space-around;
        }
        
        .logo {
            width: 20%;
            padding-left: 5%;
            font-size: 18px;
        }
        
        .logo h1 {
            cursor: pointer;
        }
        
        #introduce {
            width: 80%;
            height: 50vh;
            padding-top: 5%;
            padding-bottom: 5%;
            display: flex;
            align-items: center;
        }
        
        #introduce .introduceText {
            width: 50%;
        }
        
        #introduce img {
            width: 40%;
            height: 90%;
            border-radius: 25px;
            object-fit: cover;
            opacity: 0;
        }
        
        #mind {
            display: flex;
            width: 80%;
            height: 70vh;
            padding-top: 5%;
            margin-bottom: 5%;
            justify-content: space-between;
        }
        
        #mind aside {
            width: 20%;
            /* border: 1px black solid; */
            display: flex;
            margin: 0;
            text-align: center;
            align-items: center;
            font-size: 1.5em;
        }
        
        #mind .text {
            width: 75%;
            border-radius: 25px;
            background-color: #e5e5e5;
            margin: 0;
            text-align: center;
        }
        
        #mind .text ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
        #mind li {
            opacity: 0;
            padding: 15px;
            position: relative;
            left: 15px;
        }
        
        #certificate {
            background-color: #eee;
        }
        
        #certificate,
        #activity {
            padding-top: 5%;
            padding-bottom: 5%;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        
        #activity {
            align-items: center;
        }
        
        #certificate ul,
        #activity ul {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        
        #activity ul {
            padding: 5%;
        }
        
        #certificate li,
        #activity li {
            background-color: white;
            width: 100%;
            border-radius: 5%;
            justify-items: center;
            box-shadow: 2px 4px 7px 4px #ccc;
            text-align: center;
            opacity: 0;
        }
        
        #certificate li h3,
        #activity li h3 {
            padding: 5px;
        }
        
        #project li {
            width: 30%;
        }
        
        #club li {
            width: 30%;
            transform: scale(0.5, 0.5);
        }
        
        #certificate img,
        #activity img {
            width: 100%;
            height: 100%;
            border-radius: 5%;
            object-fit: cover;
        }
        
        #project,
        #club {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        
        footer {
            width: 100%;
            height: 50px;
            background-color: coral;
            text-align: center;
            color: #ddd;
            display: flex;
            align-items: center;
        }
        
        @media all and (max-width: 768px) {
            #mind {
                display: flex;
                width: 100%;
                height: 100vh;
                margin: 0 auto;
                flex-direction: column;
            }
            #mind aside {
                width: 100%;
                height: 20%;
                font-size: 1.5em;
            }
            #mind .text {
                margin-top: 5%;
                width: 100%;
                height: 80%;
            }
            #certificate li {
                height: 20%;
            }
            #activity {
                height: 50vh;
            }
            #activity ul {
                height: 50%;
            }
            #activity li {
                height: 50%;
            }
            footer {
                height: 100px;
            }
        }
